html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.status {
  font-size: 32px;
}
.block {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 1px solid black;
  text-align: center;
  font-size: 75px;
}

.block-container {
  border-radius: 20px;
}
#status {
  font-size: 2rem;
}
.flex {
  display: flex;
}
.score-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#playerOneScore,
#playerTwoScore {
  margin-left: 1rem;
}

.restart {
  font-family: inherit;
  border: none;
  background-color: aqua;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
